<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Donation</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="view-all-container">
    <h1>Edit Donation</h1>
    <form action="/donations/edit" method="post" class="form-container">
        <input type="hidden" name="_id" value="<%= donation._id %>">
        <div class="form-group">
            <label for="donator">Doador:</label>
            <input type="text" id="donator" name="donator" value="<%= donation.donator %>" required><br>
        </div>
        <div class="form-group">
            <label for="entity">Entidade Beneficiária:</label>
            <input type="text" id="entity" name="entity" value="<%= donation.entity %>" required><br>
        </div>
        <div class="form-group">
            <label for="donationDate">Data da doação::</label>
            <input type="date" id="donationDate" name="donationDate" value="<%= donation.donationDate.toISOString().split('T')[0] %>" required><br>
        </div>
        <div class="form-group">
            <label for="typeOfDonation">Tipo de doação:</label>
            <select id="typeOfDonation" name="typeOfDonation" required>
                <option value="Doação Têxtil" <%= donation.typeOfDonation === 'Doação Têxtil' ? 'selected' : '' %>>Doação Têxtil</option>
                <option value="Dinheiro" <%= donation.typeOfDonation === 'Dinheiro' ? 'selected' : '' %>>Dinheiro</option>
            </select><br>
        </div>
        <div id="amountDiv" class="form-group" <% if (donation.typeOfDonation !== 'Dinheiro') { %>style="display: none;"<% } %>>
            <label for="amount">Quantia:</label>
            <input type="number" id="amount" name="amount" value="<%= donation.amount %>"><br>
        </div>
        <div id="typeOfClothingDiv" class="form-group" <% if (donation.typeOfDonation !== 'Doação Têxtil') { %>style="display: none;"<% } %>>
            <label for="typeOfClothing">Tipo de doação têxtil:</label>
            <select id="typeOfClothing" name="typeOfClothing">
                <option value="Fatos e blazers" <%= donation.typeOfClothing === 'Fatos e blazers' ? 'selected' : '' %>>Fatos e blazers</option>
                <option value="Calças" <%= donation.typeOfClothing === 'Calças' ? 'selected' : '' %>>Calças</option>
                <option value="Meias e Roupa Interior" <%= donation.typeOfClothing === 'Meias e Roupa Interior' ? 'selected' : '' %>>Meias e Roupa Interior</option>
                <option value="Tops e t-shirts" <%= donation.typeOfClothing === 'Tops e t-shirts' ? 'selected' : '' %>>Tops e t-shirts</option>
                <option value="Camisolas e sweaters" <%= donation.typeOfClothing === 'Camisolas e sweaters' ? 'selected' : '' %>>Camisolas e sweaters</option>
                <option value="Casacos" <%= donation.typeOfClothing === 'Casacos' ? 'selected' : '' %>>Casacos</option>
                <option value="Pijamas" <%= donation.typeOfClothing === 'Pijamas' ? 'selected' : '' %>>Pijamas</option>
                <option value="Outros" <%= donation.typeOfClothing === 'Outros' ? 'selected' : '' %>>Outros</option>
            </select><br>
        </div>
        <div id="typeOfClothingStateDiv" class="form-group state" <% if (donation.typeOfDonation !== 'Doação Têxtil') { %>style="display: none;"<% } %>>
            <label for="typeOfClothingState">Estado:</label>
            <select id="typeOfClothingState" name="typeOfClothingState">
                <option value="Novo com etiquetas" <%= donation.typeOfClothingState === 'Novo com etiquetas' ? 'selected' : '' %>>Novo com etiquetas</option>
                <option value="Novo sem etiquetas" <%= donation.typeOfClothingState === 'Novo sem etiquetas' ? 'selected' : '' %>>Novo sem etiquetas</option>
                <option value="Muito bom" <%= donation.typeOfClothingState === 'Muito bom' ? 'selected' : '' %>>Muito bom</option>
                <option value="Bom" <%= donation.typeOfClothingState === 'Bom' ? 'selected' : '' %>>Bom</option>
                <option value="Satisfatório" <%= donation.typeOfClothingState === 'Satisfatório' ? 'selected' : '' %>>Satisfatório</option>
            </select><br>
        </div>
        
        <button type="submit" class="submit-btn">Atualizar doação</button>
    </form>
    <script src="/javascripts/editDonation.js"></script>
</div>
    <div class="back-button">
        <a href="/donations">Voltar</a>
    </div>
</body>
</html>
