<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Donors</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
<div class="donor-container">
    <h2>Doadores</h2>
    <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Contacto</th>
            <th>Morada</th>
            <th>Pontos</th>
            <th>Detalhes</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        <% donators.forEach(function(donator) { %>
            <tr>
                <td><%= donator.name %></td>
                <td><%= donator.email %></td>
                <td><%= donator.nif %></td>
                <td><a href="/donators/show/<%= donator._id %>">Detalhes</a></td>
                <td><a href="/donators/edit/<%= donator._id %>">Editar</a></td>
                <td><a href="/donators/delete/<%= donator._id %>">Remover</a></td>
            </tr>
        <% }); %>
    </table>
    <div class="button-container">
        <div class="back-button" style="float: left;">
            <a href="/donators/create" onclick="history.go(-1);">Criar Doador</a>
        </div>
        <div class="back-button" style="float: right;">
            <a href="/dashboard" onclick="history.go(-1);">Voltar</a>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
</body>

</html>
